<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
<link rel="shortcut icon" href="{{ url_for('static', filename='signin.ico') }}">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


    <!-- Custom styles for this template -->
    <link href="static/css/signin.css" rel="stylesheet">
  </head>

<body class="text-center">
    <main class="form-signin">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 fw-normal">Пожалуйста зарегистрируйтесь</h1>
            <div class="form-floating">
                {{ form.name(class="form-control", id="floatingName", placeholder="Имя") }}<br>
                {% for error in form.name.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
            </div>
            <div class="form-floating">
                {{ form.surname(class="form-control", id="floatingName", placeholder="Фамилия") }}<br>
                {% for error in form.surname.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
            </div>
            <div class="form-floating">
                {{ form.password(class="form-control", type="password", placeholder="Пароль") }}<br>
                {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
            </div>
            <div class="form-floating">
                {{ form.password_again(class="form-control", type="password", placeholder="Повторите пароль") }}<br>
                {% for error in form.password_again.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
            </div>
            <div class="form-floating">
                {{ form.email(class="form-control", type="email", id="floatingEmail", placeholder="Почта") }}<br>
                {% for error in form.email.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
            <p>{{ form.submit(type="submit", class="btn btn-lg btn-primary") }}</p>
            <div>{{ message }}</div>
        </form>
    </main>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
        integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
        crossorigin="anonymous"></script>
<!-- MDB -->
<script
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"
></script>
</body>
</html>